.storedPasswordsPage-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 375px;
    height: 812px; */
    background-color: #15085F;
    /* display: flex;
    justify-content: center;
    position: relative;
    padding: 30px; */
    position: relative;
}

header {
    background-color: #0d024d;
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

main {
    padding: 30px;
}

.storedPasswords {
    border: 1px solid gold;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
}

.showPassword-container {
    width: 400px;

    p {
        font-size: 20px;
        font-family: sans-serif;
    }

}

.storedPasswords ul li {
    margin-bottom: 10px;
}
.storedPasswords ul li:last-child {
    margin-bottom: 0;
}   

footer {
    position: absolute;
    bottom: 0;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-button {
    height: 62px;
    color: #15085F;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
    letter-spacing: 3px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    width: 400px;
}