.container {
    width: 100%;
    height: 60px;
    border: 1px solid #FFBD21;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    /* padding: 10px; */
}

.container.active {
    border-color: white;

}

.website-container {
    padding: 20px;
    /* width: 100%; */
    display: flex;
    justify-content: c;
    align-items: center;

    .password-text {
        font-size: 1rem;
        color: #FFBD21;
    }
    .password-text.active {
        color: white;
    }
}

.eye-container {
    width: 60px;
    height: 60px;
    border-left: 1px solid #FFBD21;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.eye-container.active {
    width: 99px;
}

